<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>body {
  background-image: url("background_register.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
</style>
        <font face="Nunito" size="3" color="#FFFFFF">Termenii "hardcs.ro", "serviciile noastere" reprezinta serviciile oferite prin site-ul csweb.conned.ro si serverul de CS <b>hardcs.ro</b>.
        </p>
        <ul>
        <li>Toate platile sunt finale si nu se pot returna.</li>
        <li>Playerii care fac plati pe site-ul nostru nu au parte de un tratament special. Toti utilizatorii sunt tratati la fel.</li>
        <li>Folosirea optiunii de 'charge-back' / 'refund' pe Paypal va duce la banarea permanenta din comunitatea hardcs.ro.</li>
        <li>Oricarui player banat nu i se pot return banii platiti pentru itemele din shop.</li>
        <li>hardcs.ro isi rezerva dreptul de a modifica beneficiile acordate playerilor ce doneaza oricand, verificati suma primita de fiecare data cand platiti.</li>
        <li>hardcs.ro isi rezerva dreptul de a suspenda, inchide, sterge sau modifica orice cont oricand cu sau fara un motiv, cu sau fara a notifica utilizatorii.</li>
        <li>Majoritatea conturilor sunt suspendate, inchise si/sau sterse pentru incalcarile regulamentului serverului ce poate fi gasit <a href="https://hardcs.ro/forum/">aici (click)</a></li>
        <li>Serviciile oferite de hardcs.ro sunt oferite "asa cum sunt" si nu garantam ca serviciile vor fi neintrerupte, fara erori sau ca erorile vor fi corectate. Nu oferim vreo garantie cu privire la serviciile oferite.</li>
        </ul>
        <hr>
        <h3>Politica de confidentialitate</h3>
        Aceasta pagina contine informatii legate de modul in care site-ul hardcs.ro colecteaza, stocheaza si foloseste informatiile userilor ce folosesc site-urile hardcs.ro, panel.hardcs.ro si hardcs.ro/forum. Politica de confidentialitate se aplica site-ului hardcs.ro, subdomeniilor hardcs.ro si serviciilor oferite de hardcs.ro<br><br>
        <b>Informatii personale colectate</b><br><br>
        Putem colecta date cu caracter personal de la useri in mai multe moduri ce includ, dar nu se limiteaza la, inregistrarea userilor pe site, vizitarea site-uli, completarea de formulare de pe site, inregistrarea pe un server de jocuri ce apartine hardcs.ro. Userii pot vizita site-ul nostru in mod anonim. Colectam informatii personale de la useri doar daca userii trimit astfel de informatii catre noi.
        <br><br>
        Putem colecta informatii anonime de la useri ori de cate ori acestia interactioneaza cu site-ul nostru. Informatiile colectate pot include numele browserului, sistemul de operare si alte informatii asemanatoare.
        <br><br>
        <b>Cookie-uri</b><br><br>
        Site-ul nostru foloseste cookie-uri pentru a imbunatati experienta userilor. Browserul folosit de useri stocheaza cookie-uri pe hard disk pentru a putea fi folosite in viitor de site. Userii pot alege sa seteze browserul sa refuze cookie-uri, dar in acest caz site-ul nostru poate sa nu functioneze corespunzator.
        <br><br>
        <b>Colectarea informatiilor</b><br><br>
        hardcs.ro poate colecta si folosi informatii cu caracter personal pentru urmatoarele motive:
        <ul>
        <li>pentru personalizarea experientei userului</li>
        <li>pentru procesarea platilor</li>
        </ul>
        <b>Protejarea informatiilor</b><br><br>
        Luam toate masurile necesare pentru colectarea, stocarea si procesarea datelor pentru a proteja datele de accesul neautorizat, modificarea sau publicarea informatiilor personale transmise de catre useri.
        <br><br>
        <b>Vanzarea informatiilor personale</b><br><br>
        Nu vindem, schimbam sau inchiriem datele cu caracter personal ale userilor. Putem oferi datele anonime care nu pot fi asociate cu o persoana advertisirilor.
        <br><br>
        <b>Third party websites</b><br><br>
        Userii pot gasi reclame sau alt continut pe site-ul nostru ce contin link-uri catre site-uri si servicii ale partnerilor, advertisierilor, sponsorilor sau alte terte parti. Nu controlam continutul sau link-urile ce apar pe aceste site-uri si nu suntem responsabili pentru practicile acestor site-uri. De asemenea, aceste site-uri sau servicii, incluzand continutul si link-urile lor, se pot schimba constant. Aceste site-uri si servicii au propria politica de confidentialitate. Accesarea si interactionarea cu orice alt site, incluzand site-uri ce au link-uri catre site-ul nostru, sunt subiectul termenilor de utilizare acelui site.<br><br>
        <b>Reclame</b><br><br>
        Reclamele ce apar pe acest site pot fi afisate userilor de advertiseri care pot seta cookie-uri. Aceste cookie-uri permit serverului ce serveste reclame pentru a recunoaste computerul userilor de fiecare data cand afiseaza o reclame userilor. Aceste informatii permit advertiserilor, pe langa alte lucruri, sa afiseze reclame targetate care sunt interesante pentru useri.
        <br><br>
        <b>Schimbari aduse politicii de confidentialitate</b><br><br>
        hardcs.ro poate modifica oricand politica de confidentialiate. Cand politica de confidentialitate va fi schimbata, vom modifica data ultimei modificari ce este afisata in josul paginii. Incurajam userii sa viziteze aceasta pagina frecvent pentru a fi informati despre cum ii ajutam pentru protejarea informatiilor personale colectate. Prin folosirea acestui site esti de acord ca este responsabilitatea ta de a citi politica de confidentialitate periodic pentru a fi la curent de modificari.</font><br/><br/>
	<div align="center"><button type="button" onclick="javascript:window.close()">Close window</button></div>
	</body>
</html>	